<style type="text/css">
    [v-cloak] { display: none !important; }
</style>

<div id="app">
    <!-- recommended order of attributes:
        1. is
        2. v-for
        3. v-if, v-else-if, v-else, v-show, v-cloak
        4. v-once
        5. id
        6. key, ref, slot
        7. v-model
        8. (all unspecified bound & unbound attributes)
        9. v-on
        10. v-html, v-text
    -->

    <!-- v-for -->
    <ol>
        <li v-for="(city, index) in cityList" :key="index">{{ city }}</li>
    </ol>

    <!--  v-if & v-show -->
    <!--  -------------------------------------------- -->
    <div v-show="show">I"m shown</div>
    <!-- NB! v-if should not be on the same element as v-for -->
    <!-- NB2! if v-if + v-else are the same tag, add a key -->
    <span v-if="show" :title="text" key="happy-face">😁</span>
    <span v-else-if="show === null" :title="text" key="no-face">Null</span>
    <span v-else key="sad-facce">😞</span>

    <!-- v-model -->
    <input type="text" placeholder="Enter Text..." v-model="text"/>
    <div>{{ text }}</div>

    <!-- click with event argument-->
    <button @click="updateText($event)">Click me!</button>

    <!-- prevent default without expression -->
    <form @submit.prevent></form>

    <!-- chain modifiers stop propagation & prevent default -->
    <button @click.stop.prevent>Prevent default action!</button>

    <!-- object syntax -->
    <button v-on="{ mouseover: doThis, mouseup: doThis }">Hover me!</button>

    <!-- key modifier using keyAlias -->
    <input placeholder="Enter to submit" @keyup.enter="updateText">

    <!-- attribute binding -->
    <div :class="{ block: !show }">I"m a block</div>

    <!-- v-cloak -->
    <div v-cloak>
        I hide un-compiled mustache bindings until the Vue instance is compiled!
    </div>

    <!-- v-once -->
    <div v-once>
        I render only once and am treated as static on re-renders.
    </div>

    <!-- Dynamic Components with v-is -->
    <button
        v-for="tab in tabs" :key="tab.name"
        :class="[ 'tab-button', { active: currentTab.name === tab.name } ]"
        @click="currentTab = tab"
    >
        {{ tab.name }}
    </button>
    <component :is="currentTab.component" class="tab"></component>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script>

var tabs = [
    {
        name: 'Home',
        component: {
            template: '<div>Home component</div>'
        }
    },
    {
        name: 'Posts',
        component: {
            template: '<div>Posts component</div>'
        }
    },
    {
        name: 'Archive',
        component: {
            template: '<div>Archive component</div>',
        }
    }
];

new Vue({
    el: '#app',
    data: {
        cityList: ['Kathmandu', 'Pokhara', 'Butwal', 'Nepalgunj'],
        show: false,
        text: 'some text',
        tabs: tabs,
        currentTab: tabs[0]
    },
    methods: {
        updateText(event) {
            this.text = 'Updated!';
            console.log(event);
        },
        doThis() {
            console.log('hey!');
        }
    }
});

</script>
