<div class='container'>

    <!-- Vue root -->
    <div id='vue-container'>

        <!--
          Example of changing data with events. Since the element
          is outside of the 'vue-user-list' component, the 'addUser'
          method has to be defined in the main Vue instance.
          This is also why userIds are not defined in the component.
          -->
        <button
            v-for='(filter, key) in filters'
            :key="key"
            @click='addUser($event, filter)'
            :class="{ active : filter.active }"
        >
        Toggle user #{{ filter.id }}</button>

        <button
            @click='clearUsers'
            :class="{ active : filtersInactive }"
        >
        All</button>

        <!--
          Create an instance of the 'vue-user-list' component
          and pass 'userIds' to the registered prop 'params'.
          -->
        <vue-users-list :params='userIds'>

            <!--
              Define custom slots to component with a scope, slot
              location is defined in the template.
              -->
            <p slot-scope='customSlot'>im a slot</p>
        </vue-users-list>
    </div>
</div>

<!-- 'vue-user-list' component template -->
<script type='text/x-template' id='vue-user-list-template'>
    <ul>
        <li v-for='(user, i) in users' :key='user.id'>
            <div>{{ user.id }}</div>
            <div>{{ user.name | uppercase }}</div>
            <div>{{ user.email }}</div>
            <div>{{ checkUserCompany(user.company) }}</div>
            <slot customSlot></slot>
        </li>
    </ul>
</script>

<script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js'></script>
<!-- HTTP client for Vue -->
<script src='https://cdn.jsdelivr.net/npm/vue-resource/dist/vue-resource.min.js'></script>

<script>
/* global Vue */

Vue.component('vue-users-list', {
    template: '#vue-user-list-template',

    /*
     * This prop option was passed the value of 'UserIds' when the instance
     * was created. When a value is passed to a prop attribute, it becomes
     * a property on that component instance.
     */
    props: ['params'],
    data: function() {
        return {
            users: {},
        };
    },
    created: function() {
        this.fetchData();
    },
    watch: {
        // Watch for params change.
        params: function(newVal, oldVal) {
            this.fetchData();
        }
    },
    methods: {
        fetchData: function() {
            var encodedParams = '';
            encodedParams = this.params.map(function(key) {
                return 'id=' + key.id;
            }).join('&');

            this.$http.get('https://jsonplaceholder.typicode.com/users/?' + encodedParams).then(function(response) {
                this.users = response.body;
            }, function(error) {
                console.error(error);
            });
        },
        checkUserCompany: function(company) {
            return company ? company.name : 'user not in company';
        }
    }
});

// Custom filters can be user in the component template.
Vue.filter('uppercase', function(value) {
    return value.toUpperCase();
});

// Main Vue instance
var vm = new Vue({
    el: '#vue-container',
    data: {
        userIds: [],
        filters: [
            { id: 1, active: false },
            { id: 2, active: false },
            { id: 3, active: false },
            { id: 4, active: false },
            { id: 5, active: false }
        ],
        filtersInactive: true
    },
    methods: {
        addUser: function(e, filter) {
            this.filtersInactive = false;

            for (var i in this.userIds) {
                if (filter.id === this.userIds[i].id) {
                    filter.active = false;
                    this.userIds.splice(i, 1);

                    return false;
                }
            }

            filter.active = true;
            this.userIds.push({ id: filter.id });
        },
        clearUsers: function(e) {
            for (var i in this.filters) {
                if (this.filters[i].active) {
                    this.filters[i].active = false;
                }
            }

            this.filtersInactive = true;
            this.userIds = [];
        }
    }
});

</script>
