<div id="app">
    <input-text
        placeholder="Jason Response"
        name="name"
        label="Your Name"
        required
        :error="message === ''"
        v-model="message"
    ></input-text>

    {{ message }}
</div>

<script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
<script>

    // COMPONENT
    const InputText = {
        name: 'input-text',
        inheritAttrs: false,
        model: {
            prop: 'model',
        },
        props: {
            model: {
                type: String,
                default: '',
            },
            type: {
                type: String,
                default: 'text',
                validator(type) {
                    return ['text', 'number'].indexOf(type) !== -1;
                },
            },
            error: {
                type: Boolean,
                default: false,
            },
            disabled: {
                type: Boolean,
                default: false,
            },
            required: {
                type: Boolean,
                default: false,
            },
            label: String,
            placeholder: String,
            name: String,
        },
        computed: {
            formattedLabel() {
                return this.required ? this.label + '*' : this.label;
            },
        },
        template: `
            <label :class="['input-text', { error, disabled }]">
                <span
                    v-if="label"
                    :class="['input-label']"
                    v-text="formattedLabel"
                >
                    <template v-if="required">*</template>
                </span>

                <input
                    v-bind="$attrs"
                    :value="model"
                    :type="type"
                    :disabled="disabled"
                    :required="required"
                    :placeholder="placeholder"
                    :name="name"
                    :class="['input-field']"
                    @input="$emit('input', $event.target.value)"
                >
            </label>
        `,
    };


    // EXAMPLE
    new Vue({
        el: '#app',
        data: {
            message: '',
        },
        components: {
            InputText,
        },
    });

</script>
