<div id="app">
    <div>
        <input-radio
            :value="true"
            name="fruits"
            label="Yes"
            checked
            v-model="selectedOption"
        ></input-radio>
    </div>

    <div>
        <input-radio
            :value="{ id: 1, name: 'avocado', price: 3.99 }"
            name="fruits"
            :error="hasError"
            label="Avocado"
            label-right
            v-model="selectedOption"
        >
            <span>| Price: 3.99 €</span>
        </input-radio>
    </div>

    <div>
        {{ selectedOption }}
    </div>
</div>

<script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
<script>

    // COMPONENT
    const InputRadio = {
        name: 'input-radio',
        model: {
            prop: 'model',
            event: 'change',
        },
        props: {
            model: {
                type: [String, Boolean, Number, Array, Object],
                default: null,
            },
            value: {
                type: [String, Boolean, Number, Array, Object],
                required: true,
            },
            error: {
                type: Boolean,
                default: false,
            },
            disabled: {
                type: Boolean,
                default: false,
            },
            checked: {
                type: Boolean,
                default: false,
            },
            label: {
                type: String,
                required: true,
            },
            labelRight: Boolean,
            name: String,
        },
        mounted() {
            if (this.checked && this.model !== this.value) {
                this.$emit('change', this.value);
            }
        },
        template: `
            <label :class="['input-radio', { error, disabled }]">
                <span
                    v-if="!labelRight"
                    :class="['input-label']"
                    v-text="label"
                ></span>

                <input
                    :value="value"
                    type="radio"
                    :checked="checked || value === model"
                    :disabled="disabled"
                    :name="name"
                    :class="['input-field']"
                    @change="$emit('change', value)"
                />

                <span
                    v-if="labelRight"
                    :class="['input-label']"
                    v-text="label"
                ></span>

                <slot></slot>
            </label>
        `,
    };


    // EXAMPLE
    new Vue({
        el: '#app',
        data: {
            selectedOption: null, // initial value can be set here or add checked to the checkbox
            hasError: true,
        },
        components: {
            InputRadio,
        },
    });

</script>
